.text-center{  
    font-family: 'Montserrat';   
}

#titre{
    font-size: 70px;
    color: #245582 ;
    letter-spacing: 5px;
    padding-bottom: 2%;
}

.commencer{
    font-size: 50px;
    color: #8F7E5D ;
    letter-spacing: 2px;
    background-color: #FFE9BE;
}

.commencer:hover{
    opacity:0.7;
    cursor:pointer;
}
  

.logo{
    max-width: 8%; 
    height: auto; 
    padding-bottom: 2%;
}