<template name="menu">
<body>
    <!--contient tout le menu-->
        <div class="col-xs-12">
                <div class="row">
                    <!--bloc qui ne fait pas toute la largeur de la page-->
                    <div class="col-xs-10 ">
                        <h1>Menu</h1>
                        <!--bouton accueil-->
                        <div class=accueil>
                            <div class="col-xs-2">
                                 <img src="/accueil.png" alt="accueil" class="accueilImg">
                            </div>
                            <div class="col-xs-5">Accueil 
                            </div>
                        </div>
                        <!--bouton statistiques-->
                         <div class=stat>
                            <div class="col-xs-2">
                                 <img src="/stat.png" alt="stat" class="statImg">
                            </div>
                            <div class="col-xs-5">Statistiques
                            </div>
                         </div>
                         <!-- bouton methodes-->
                         <div class=methodes>
                             <div class="col-xs-2">
                                 <img src="/methodes.png" alt="methodes" class="methodesImg">
                             </div>
                             <div class="col-xs-5">Méthodes
                             </div>
                        </div>
                        <!--bouton parametres-->
                        <div class=para>
                            <div class="col-xs-2">
                                <img src="/parametres.png" alt="para" class="paraImg">
                            </div>
                            <div class="col-xs-5">Paramètres
                            </div>
                        </div>
                        <!-- bouton a propos-->
                        <div class=aPropos>
                             <div class="col-xs-2">
                                <img src="/aPropos.png" alt="apropos" class="aproposImg">
                            </div>
                            <div class="col-xs-5">À propos
                            </div>
                        </div>
                        <!-- bouton feedback-->
                        <div class=feedback>
                             <div class="col-xs-2">
                               <img src="/feedback.png" alt="feedback" class="feedbackImg">
                           </div>
                           <div class="col-xs-5">Feedback
                           </div>
                       </div>

                    </div>
                   

                </div>
            </div>
    
</body>
</template>